* {
  margin: 0;
  padding: 0;
  border: 0;
}
.AddToDo {
  display: flex;
  justify-content: center;
  .AddToDo__input {
    border-radius: 25px;
    height: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    position: absolute;
    border: 2px solid #f87aff;
    color: #f87aff;
    outline: none;
  }
  .AddToDo__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 0px;
    position: relative;
    bottom: 3px;
    left: 115px;
    border: 2px solid #f87aff;
    background-color: #fcbbff;
    cursor: pointer;
  }
}
