.AddToDo {
  display: flex;
  justify-content: center;
  .AddToDo__input {
    border-radius: 25px;
    height: 10px;
    width: 300px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 20px;
    position: absolute;
    border: 2px solid rgb(129, 73, 0);
  }
  .AddToDo__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    padding: 10px;
    position: relative;
    bottom: 3px;
    left: 150px;
    background-color: rgb(255, 145, 0);
  }
}
