* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  margin: 20px;
  background-color: #042326;
}
  .Banner {
    display: flex;
    margin: 20px;
    justify-content: center;

    h1 {
      color: rgb(255, 255, 255);
    }
  }
