* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #fcbbff;
}
.Banner {
  display: flex;
  justify-content: center;
  background-color: #f87aff;
  margin-bottom: 20px;
  padding: 30px;

  h1 {
    color: rgb(255, 255, 255);
  }
}
